<nav class="navbar-wrapper--2iBNP">
        <ul align="right" class="main-header__item-list">
            <li class="main-header__item ">  <a  href="/login">  Login</a>  </li>
            <li class="main-header__item "> <a href="/signup"> Sign Up </a>    </li>
            <li class="main-header__item ">
                <form action="/logout" method="POST">
                  
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>

    </nav>
<h1>HOME</h1>